.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-content: center;
}

.description {
  text-align: center;
}

.search {
  display: flex;
  gap: 16px;
  align-items: center;
  inline-size: 100%;
}

.searchInputWrapper {
  inline-size: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 80px;
  justify-content: space-between;
}

.loaderWrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 300px;
}
