.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.accent {
  color: var(--color-text-accent);
}

.tertiary {
  color: var(--color-checkbox-check-disabled);
}
